<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Kulcs-Szoft User Registration</title>
</head>
<body>
<div class="login-container">
    <section class="login" id="login">
        <header>
            <h2>Enroll a user</h2>
        </header>
        <form class="login-form" action="/storeuser" method="post">
            <input class="login-input" type="text" placeholder="User name" name="name">
            <input class="login-input" type="email" placeholder="Email address" name="email">
            <a class="login-button navigation-link" href="/">Go back</a>
            <input type="submit" class="login-button" value="Submit">
        </form>
    </section>
</div>
</body>
</html>