<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200" rel="stylesheet">
    <script defer src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/app.js" defer></script>
    <meta charset="UTF-8">
    <title>Kulcs-Szoft User Registration</title>
</head>
<body>
<div class="login-container">
    <section class="login" id="login">
        <header>
            <h2>Enroll a user</h2>
        </header>
            <input class="login-input" type="text" placeholder="User name" id="name">
            <input class="login-input" type="email" placeholder="Email address" id="email">
            <a class="login-button navigation-link" href="/">Go back</a>
            <button class="login-button" id="storeuser">Submit</button>
    </section>
</div>
<div class="alert alert-success" id="user-added">
    <strong>User successfully enrolled!</strong>
</div>
<div class="alert alert-danger" id="user-not-added">
    <strong>Username or email address already added!</strong>
</div>
<div class="alert alert-danger" id="error">
    <strong>Something went wrong!</strong>
</div>
</body>
</html>