<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200" rel="stylesheet">
    <script defer src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/app.js" defer></script>
    <meta charset="UTF-8">
    <title>Kulcs-Szoft Users</title>
</head>
<body>
<div class="login-container">
    <section class="login" id="login">
        <header>
            <h2>Enrolled users</h2>
        </header>
        <div th:if="${#lists.isEmpty(users)}">
            <div class="user-table"> No enrolled users</div>
        </div>
        <div th:if="${not #lists.isEmpty(users)}">
            <div class="user-table">
                <table>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email address</th>
                        <th>Action</th>
                    </tr>
                    <tr th:each="user : ${users}">
                        <td th:text="${user.id}"></td>
                        <td th:text="${user.userName}"></td>
                        <td th:text="${user.emailAddress}"></td>
                        <td>
                            <input type="button" th:name="${user.id}" class="action removeuser" value="Remove">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <a class="login-button navigation-link" href="/">Go back</a>
    </section>
</div>
<div class="alert alert-success" id="user-removed">
    <strong>User successfully removed!</strong>
</div>
<div class="alert alert-danger" id="error">
    <strong>Something went wrong!</strong>
</div>
</body>
</html>